.page-content{
    padding-top:30px;
    overflow: hidden;
}
.card {
 /* Add shadows to create the "card" effect */
    border: 3px solid teal;
    border-radius: 5px;
    width: 70%;
    margin-top:3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card-header{
    padding:1%;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid rgb(192, 192, 192);
}
.card-body{padding:10%;}
/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav{
    background-color: teal;
    list-style-type: none;
    text-align: center;
    position: fixed; top:0; width:100%; 
}
.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.nav li a{
    text-decoration: none;
    color:white
}


