
.standard {
    border: 5px solid teal;
    background-color: #A5CFE3;
    padding: 40px;
    margin: 40px;
    width: 350px;
    height: 150px;
}

.alternate {
    box-sizing: border-box;
    width: 400px; 
    height: 100px;
}